<!DOCTYPE html>
<html>
<head>
    <title>{{source}}</title>
    <style>
        body {
            background-color: #1d1d1d;
            color: white;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 10px;
            border: 1px solid white;
        }
        th {
            background-color: #4CAF50;
        }
    </style>
</head>
<body>
    <h1>List of Shipments</h1>
    <p>Data created at: {{ created_time }}</p>
    {{ data | safe }}
</body>
</html>
